.page_header {
	width: 100%;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	flex-direction: column;
}
.header_top {
	width: 100%;
	background-color: #7266BA;
}
.header_top_bar_wrapper {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: flex-end;
}
.header_top_bar {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	padding: 0 15px;
}
.orders_top_dropdown {
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease-in-out 0s;
}
.orders_top_dropdown .dropdown-toggle {
	padding: 17px 44px 17px 14px;
	display: block;
}
.orders_top_dropdown .dropdown-toggle > i {
	color: #fff;
	font-size: 20px;
}
.style_list_notifications {
    left: auto;
    right: 0;
    width: 300px;
}
.style_list_notifications > p {
	width: 100%;
	background-color: #E4E4E4;
	color: #464646;
	font-weight: 600;
	padding: 14px;
}
.style_list_notifications > ul > li {
	padding: 15px;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}
.style_list_notifications > ul > li:not(:last-child) {
	border-bottom: 1px solid #E6E8E8;
}
.style_list_notifications > ul > li > p > a {	
	color: #23B7E5;
}
.style_list_notifications > ul > li > p > span {
	color: #99A6AD;
	font-size: 12px;
	display: inline-block;
    width: 100%;
    margin: 5px 0 0 0;
}
.style_list_notifications > ul > li > a {
	padding: 0;
}
.see_all_notifications {
	position: relative;
}
.see_all_notifications:after {
	content: "\f0f3";
	font-family: "FontAwesome";
	position: absolute;
	color: #23B7E5;
	font-size: 20px;
    right: 15px;
    top: 11px;
}
.orders_top_dropdown:hover {
	background: #625893;
}
.order_picture {
	display: inline-block;
	width: 80px;
	height: 64px;
	border-radius: 3px;
	overflow: hidden;
	border: 1px solid #E6E8E8;
	background-position: 50%;
	margin: 0 15px 0 0;
}
.orders_top_dropdown .value {
	position: absolute;
	color: #fff;
	display: inline-block;
	background-color: #F05050;
	border-radius: 10px;
	padding: 0px 7px;
	right: 32px;
    top: 9px;
	font-size: 12px;
	font-weight: 600;
}
.orders_top_dropdown .value:empty {
	display: none;
}
.user_top_dropdown {
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
    align-items: center;
    padding: 0 15px;
}
.user_top_dropdown:hover {
	background: #625893;
}
.user_top_dropdown .user_name {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	display: inline-block;
	margin: 0 6px 0 0;
}
.user_top_dropdown .dropdown-toggle {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
}
.user_top_dropdown .caret {
	color: #fff;
}
.user_top_dropdown .user_photo {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 0 5px 0 13px;
}
.user_top_dropdown .user_photo .user_photo_wrapper {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	background-size: cover;
    background-position: 50%;
}
.user_top_dropdown .user_photo.user_online:before {
	content: "";
	position: absolute;
	background: #23AD44;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid #fff;
	bottom: 0;
	right: 0;
}
.user_top_dropdown .dropdown-menu {
	width: 120%;
    left: auto;
    right: 0;
}
.user_top_dropdown .dropdown-menu > li:last-child a {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	justify-content: space-between;
}
.user_top_dropdown .dropdown-menu > li:last-child a > i {
	color: #59C9EB;
	font-size: 20px;
}
.style_dropdown {
	border-radius: 0px;
    border: none;
    margin: 0;
    padding: 0;
}
.user_top_dropdown > ul > li > a {
	padding: 8px 20px;
}
.user_top_dropdown > ul > li:first-child > a {
	padding: 14px 20px 8px 20px;
}
.user_top_dropdown > ul > li:last-child > a {
	padding: 14px 20px;
}
.style_dropdown .divider {
	margin: 0;
}
.header-bottom {
	border-bottom: 1px solid #E6E8E8;
}
.header_bottom_bar_wrapper {
	padding: 18px 15px;
}
.header_menu_wrapper {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
    justify-content: flex-end;
}
.header_menu_wrapper > ul {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}
.header_menu_wrapper > ul > li {
	float: left;
	margin: 0 0 0 10px;
}
.header_menu_wrapper > ul > li > a {
	font-size: 14px;
	text-transform: uppercase;
	background-color: #7266BA;
	color: #fff;
	display: inline-block;
	padding: 8px 16px;
	border-radius: 3px;
	transition: all 0.3s ease-in-out 0s;
}
.header_menu_wrapper > ul > li:not(:first-child) > a:hover {
	background-color: #9588e0;
}
.header_menu_wrapper > ul > li:first-child a {
	background-color: transparent;
	color: #464646;
	border: 1px solid #E6E8E8;
	font-weight: 600;
	padding: 8px 16px 8px 33px;
	position: relative;
}
.header_logo {
	color: #464646;
	font-size: 21px;
    font-weight: 600;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
}
.header_logo > img {
    margin: -4px 10px 0 0;
}
.header_menu_wrapper > ul > li:first-child a:before {
	content: url("../img/house.png");
	position: absolute;
	left: 10px;
    top: 10px;
}